<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @chatroom.name %>
</p>

<hr>
<% @chatroom.messages.each do |message| %>
  <%= message.text %><br>
<% end %>

<br>
<%= render 'messages/form' %>

<%= link_to 'Edit', edit_chatroom_path(@chatroom) %> |
<%= link_to 'Back', chatrooms_path %>
