<%= content_for :head do %>
  <meta name="turbo-cache-control" content="no-preview">
<% end %>

<p id="notice"><%= notice %></p>

<div id="<%= dom_id(@chatroom) %>" data-controller="chatroom" data-chatroom-id="<%= @chatroom.id %>">
  <div class="chatroom-wrapper">
    <div class="chatroom">
      <button data-action="chatroom#act">act</button>
      <p>
      <strong>Name:</strong>
      <%= @chatroom.name %>
      </p>

      <hr>
      <div data-chatroom-target="messages">
        <%= render @chatroom.messages %>
      </div>

      <br>
      <%= form_with model: [@chatroom, Message.new], data: { action: "turbo:submit-end->chatroom#reset_form" } do |form| %>
        <%= form.text_field :text %>
      <% end %>
    </div>
    <div data-chatroom-target="users" class="users">
      <%= render partial: 'users/user', collection: @chatroom.chatroom_users.uniq %>
    </div>
  </div>
</div>

<%= link_to "Edit", edit_chatroom_path(@chatroom) %> |
<%= link_to "Back", chatrooms_path %>
